// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Subscriptions extends APIResource {
  /**
   * Create a namespace-scoped subscription that receives events from every
   * connection in the namespace.
   */
  create(namespace: string, options?: RequestOptions): APIPromise<CreateSubscriptionResponse> {
    return this._client.post(path`/${namespace}/.subscriptions`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }

  /**
   * List namespace-scoped trigger subscriptions for all connections in the
   * namespace.
   */
  list(namespace: string, options?: RequestOptions): APIPromise<SubscriptionList> {
    return this._client.get(path`/${namespace}/.subscriptions`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }

  /**
   * Delete a namespace-scoped trigger subscription.
   */
  delete(
    subscriptionID: string,
    params: SubscriptionDeleteParams,
    options?: RequestOptions,
  ): APIPromise<SubscriptionDeleteResponse> {
    const { namespace } = params;
    return this._client.delete(path`/${namespace}/.subscriptions/${subscriptionID}`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }
}

export interface CreateSubscriptionRequest {
  /**
   * HTTPS webhook destination
   */
  url: string;
}

export interface CreateSubscriptionResponse {
  /**
   * Stable subscription id generated by Smithery
   */
  id: string;

  /**
   * Connection scope. Null for namespace-wide subscriptions.
   */
  connection_id: string | null;

  /**
   * ISO 8601 timestamp
   */
  created_at: string;

  /**
   * Webhook signing secret. Returned only once at creation time.
   */
  secret: string;

  /**
   * Destination URL for webhook deliveries
   */
  url: string;
}

export interface Subscription {
  /**
   * Stable subscription id generated by Smithery
   */
  id: string;

  /**
   * Connection scope. Null for namespace-wide subscriptions.
   */
  connection_id: string | null;

  /**
   * ISO 8601 timestamp
   */
  created_at: string;

  /**
   * Destination URL for webhook deliveries
   */
  url: string;
}

export type SubscriptionList = Array<Subscription>;

export interface SubscriptionDeleteResponse {
  success: true;
}

export interface SubscriptionDeleteParams {
  namespace: string;
}

export declare namespace Subscriptions {
  export {
    type CreateSubscriptionRequest as CreateSubscriptionRequest,
    type CreateSubscriptionResponse as CreateSubscriptionResponse,
    type Subscription as Subscription,
    type SubscriptionList as SubscriptionList,
    type SubscriptionDeleteResponse as SubscriptionDeleteResponse,
    type SubscriptionDeleteParams as SubscriptionDeleteParams,
  };
}
