// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../../core/resource';
import { APIPromise } from '../../core/api-promise';
import { RequestOptions } from '../../internal/request-options';
import { path } from '../../internal/utils/path';

export class Triggers extends APIResource {
  /**
   * Create a trigger instance for a connection using the trigger's declared params.
   *
   * @example
   * ```ts
   * const triggerInstance =
   *   await client.connections.triggers.create('triggerName', {
   *     namespace: 'namespace',
   *     connectionId: 'connectionId',
   *     params: { foo: 'bar' },
   *   });
   * ```
   */
  create(
    triggerName: string,
    params: TriggerCreateParams,
    options?: RequestOptions,
  ): APIPromise<TriggerInstance> {
    const { namespace, connectionId, ...body } = params;
    return this._client.post(path`/${namespace}/${connectionId}/.triggers/${triggerName}`, {
      body,
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }

  /**
   * List trigger types exposed by a connection.
   *
   * @example
   * ```ts
   * const triggerDefinitionList =
   *   await client.connections.triggers.list('connectionId', {
   *     namespace: 'namespace',
   *   });
   * ```
   */
  list(
    connectionID: string,
    params: TriggerListParams,
    options?: RequestOptions,
  ): APIPromise<TriggerDefinitionList> {
    const { namespace } = params;
    return this._client.get(path`/${namespace}/${connectionID}/.triggers`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }

  /**
   * Delete a trigger instance and deregister its upstream webhook.
   *
   * @example
   * ```ts
   * const trigger = await client.connections.triggers.delete(
   *   'triggerId',
   *   {
   *     namespace: 'namespace',
   *     connectionId: 'connectionId',
   *     triggerName: 'triggerName',
   *   },
   * );
   * ```
   */
  delete(
    triggerID: string,
    params: TriggerDeleteParams,
    options?: RequestOptions,
  ): APIPromise<TriggerDeleteResponse> {
    const { namespace, connectionId, triggerName } = params;
    return this._client.delete(path`/${namespace}/${connectionId}/.triggers/${triggerName}/${triggerID}`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }

  /**
   * Get the schema for a single trigger type.
   *
   * @example
   * ```ts
   * const triggerDefinition =
   *   await client.connections.triggers.get('triggerName', {
   *     namespace: 'namespace',
   *     connectionId: 'connectionId',
   *   });
   * ```
   */
  get(
    triggerName: string,
    params: TriggerGetParams,
    options?: RequestOptions,
  ): APIPromise<TriggerDefinition> {
    const { namespace, connectionId } = params;
    return this._client.get(path`/${namespace}/${connectionId}/.triggers/${triggerName}`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }

  /**
   * Get a specific trigger instance for a connection.
   *
   * @example
   * ```ts
   * const triggerInstance =
   *   await client.connections.triggers.getInstance(
   *     'triggerId',
   *     {
   *       namespace: 'namespace',
   *       connectionId: 'connectionId',
   *       triggerName: 'triggerName',
   *     },
   *   );
   * ```
   */
  getInstance(
    triggerID: string,
    params: TriggerGetInstanceParams,
    options?: RequestOptions,
  ): APIPromise<TriggerInstance> {
    const { namespace, connectionId, triggerName } = params;
    return this._client.get(path`/${namespace}/${connectionId}/.triggers/${triggerName}/${triggerID}`, {
      defaultBaseURL: 'https://smithery.run',
      ...options,
    });
  }
}

export interface CreateTriggerRequest {
  /**
   * Trigger-specific parameters defined by the trigger inputSchema
   */
  params: { [key: string]: unknown };
}

export interface TriggerDefinition {
  /**
   * Supported delivery modes
   */
  delivery: Array<string>;

  /**
   * Trigger name exposed by the MCP server
   */
  name: string;

  description?: string;

  /**
   * JSON Schema for the params required to create the trigger
   */
  inputSchema?: { [key: string]: unknown };

  /**
   * JSON Schema for the event payload delivered by the trigger
   */
  payloadSchema?: { [key: string]: unknown };
}

export type TriggerDefinitionList = Array<TriggerDefinition>;

export interface TriggerInstance {
  /**
   * Stable trigger instance id generated by Smithery
   */
  id: string;

  /**
   * Connection id the trigger belongs to
   */
  connection_id: string;

  /**
   * ISO 8601 timestamp
   */
  created_at: string;

  /**
   * Trigger name
   */
  name: string;

  /**
   * Trigger instance parameters
   */
  params: { [key: string]: unknown };
}

export interface TriggerDeleteResponse {
  success: true;
}

export interface TriggerCreateParams {
  /**
   * Path param
   */
  namespace: string;

  /**
   * Path param
   */
  connectionId: string;

  /**
   * Body param: Trigger-specific parameters defined by the trigger inputSchema
   */
  params: { [key: string]: unknown };
}

export interface TriggerListParams {
  namespace: string;
}

export interface TriggerDeleteParams {
  namespace: string;

  connectionId: string;

  triggerName: string;
}

export interface TriggerGetParams {
  namespace: string;

  connectionId: string;
}

export interface TriggerGetInstanceParams {
  namespace: string;

  connectionId: string;

  triggerName: string;
}

export declare namespace Triggers {
  export {
    type CreateTriggerRequest as CreateTriggerRequest,
    type TriggerDefinition as TriggerDefinition,
    type TriggerDefinitionList as TriggerDefinitionList,
    type TriggerInstance as TriggerInstance,
    type TriggerDeleteResponse as TriggerDeleteResponse,
    type TriggerCreateParams as TriggerCreateParams,
    type TriggerListParams as TriggerListParams,
    type TriggerDeleteParams as TriggerDeleteParams,
    type TriggerGetParams as TriggerGetParams,
    type TriggerGetInstanceParams as TriggerGetInstanceParams,
  };
}
